body {
	/*background-image: url(../images/bg.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: #fff;
	font-family: 'Acme', sans-serif;
	background-color: #8ca6cc;
	background-image: url(../images/bg.png);
	overflow: hidden;
}

.box {
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding-top: 1px;
}

h1 {
	width: 80%;
	margin-top: 60px;
	font-size: 40px;
	margin-bottom: 0;
	background-color: #646a72;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #8a43a0;
	border-bottom: solid #3f4144;
	width: 500px;
}

#me {
	height: 170px;
	width: 170px;
	border-radius:50%;
	border-style: dotted;
	border-width: 5px;
	border-color: #3f4144;
	margin-top: 180px;
}

.about {
	width: 80%;
	font-size: 15px;
	line-height: 1.5;
	font-family: 'Ubuntu', sans-serif;
	padding: 5px;
	color: #3f4144;
}

.container {
	width:650px;
	margin: 0 auto;
	text-align: center;
}